@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #000;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

section h4 {
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a {
  color: #3280f5;
}

a,
a:visited {
  color: purple;
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(170, 170, 170);
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #3280f5;
  color: #fff;
  border: 0;
}

button:disabled {
  cursor: not-allowed;
  background: gainsboro;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #333;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.success {
  text-align: center;
}

.success-icon {
  font-size: 5rem;
  color: rgba(2, 126, 2, 0.6);
  padding: 1.4rem;
}
